<meta content="text/html" charset="UTF-8">
<div style="width: 800px; height: 90px; margin: 0 auto;">
	<h2 style="margin: 0; padding: 0; height: 86px; float: left">
		<img src="${rootpath}/image/logo.png">
	</h2>
</div>
<div
	style="width: 780px; padding: 0 10px; margin: 0 auto; overflow: hidden; border: 1px solid #ddd;">
	<p
		style="width: 90%; margin: 10px auto; height: 30px; line-height: 30px; border-bottom: 1px dashed #ccc; text-align: center; font-size: 16px; font-weight: bold; color: #000; padding: 25px 0;">
		${subject}
	</p>
	<b>尊敬的${email}:<br /> 您好！
	</b>
	<p style="text-indent: 2em">欢迎使用用户中心,邮件验证,请点击以下链接确认,1天有效</p>
	<p style="text-indent: 2em">
		点击<a href="${verifyHref}" target="_blank">这里</a>验证:
	</p>
	<p style="text-indent: 2em">
		<a href="${verifyHref}" target="_blank">${verifyHref}</a>
	</p>
	<p>
		用户中心有限公司<br /><a href="${headUrl}" target="_blank" style="color: #0085b9;">首页</a>
		日期:${date}
	</p>

</div>
<div style="width: 800px; overflow: hidden; margin: 0 auto">
	<p style="text-align: center;">用户中心有限公司©版权所有</p>
</div>